<footer class="footer">
  <small>
    <a href="http://www.masterbet.gr/">Δοκιμαστικό για MasterBet</a>
    από τον Γιάννη Κουμούτσο
  </small>
  <nav>
    <ul>
      <li><%= link_to "Η Eταιρία μας",   about_path %></li>
      <li><%= link_to "Επικοινωνία", contact_path %></li>
      <li><a href="http://www.in.gr">Νέα</a></li>
    </ul>
  </nav>
</footer>